*{
    margin: 0;
    padding: 0;
}
.box{
    width: 800px;
    height: auto;
    margin: 0 auto;
}
.list-box{
    margin: 0 auto;;
    width: 700;
    height: 40px;
    border-bottom: 1px solid #eee;
}
ul{
    list-style: none;
}
.list{
    float: right;
    padding-top: 10px;
}
.list-box ul li{
    width: 30px;
    height: 26px;
    float: left;
    display: block;
    background: url("listype-icon.png") no-repeat;
    cursor: pointer;
}
.changelist .list-1{
    height: 240px;
    width: 240px;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
}
